:root {
  --bg-100: #820ad1;
  --bg-200: #7f26ba;
  --bg-300: #a232eb;
  --bg-400: #9b30c2;
  --bg-500: #ac1fde;
  --bg-900: #393939;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Sora;
  /* height: 100vh; */
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#7f26ba),
    to(#9b30c2)
  ) !important;
  background: linear-gradient(top right, #7f26ba, #9b30c2) !important;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Sora;
  src: url("~@/assets/fonts/Sora-Regular.ttf");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Sora;
  src: url("~@/assets/fonts/Sora-Bold.ttf");
  font-weight: 700;
  font-display: block;
}
